
/* ----------------------------------------------------------- Generic layout */

.hf_layout_page_width
{
    margin: 0 auto;
    width: 1000px;
}

.hf_layout_cell
{
    background: #FFFFFF;
    border: 1px solid #EEEEEE;
    border-radius: 3px;
    margin: 10px 5px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
}

.hf_layout_expand
{
    width: 100%;
}

.hf_layout_cell .hf_padding
{
    padding: 20px 30px;
}

.hf_layout_cell form
{
    padding: 20px;
    border: 1px solid #EEEEEE;
    background-color: #F7F7F7;
    width: 100%;
}

.hf_layout_cell table
{
    width: 100%;
}

.hf_layout_cell form table input
{
    width: 100%;
}

.hf_layout_cell .hf_empty
{
    width: 100%;
    text-align: center;
    padding: 40px 0 120px 0;
}

.hf_layout_cell .hf_title
{
    padding: 10px 0;
    font-size: 20px;
}

.hf_layout_cell .hf_code
{
    width: 100%;
    min-height: 300px;
    margin: 3px 0;
    border: none;
}

.hf_layout_cell .hf_user_link,
.hf_layout_cell .hf_group_link
{
    font-weight: bolder;
}

.hf_layout_cell .hf_user_link span
{
    display: inline-block;
    width: 40px;
    height: 40px;
    margin-right: 20px;
    vertical-align: middle;
    text-align: middle;
    overflow: hidden;
}

.hf_layout_cell .hf_img
{
    border: 1px solid #EEEEEE;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.3);
}

.hf_layout_cell .hf_user_link span img
{
    display: block;
    margin: auto;
    min-width: 100%;
    min-height: 100%;
    width: 100%;
}

.hf_layout_cell .hf_date
{
    color: #BBBBBB;
}

/* ------------------------------------------------------------ NOTIFICATIONS */
.hf_layout_cell .hf_list_item
{

    width: 100%;
    overflow: auto;
    padding: 10px 10px 10px 10px;
    border-top: 1px solid #EEEEEE;
}

.hf_layout_cell .hf_list_item div a
{
    vertical-align: middle;
}

.hf_layout_cell .hf_contact_btn
{
    display: table-cell;
    vertical-align: middle;
}


.hf_layout_cell .btn-default
{
    vertical-align: middle;
}

.hf_layout_cell .hf_contact_name
{
    font-size: 20px;
    padding: 0px 10px 10px 10px;
}

/* --------------------------------------------------------------------- FORM */

.hf_layout_cell .hf_form_autocomplete
{
    background-color: #FFFFFF;
    border: 1px solid #EEEEEE;
    border-radius: 3px;
    width: 100%;
}

.hf_layout_cell .hf_form_autocomplete .hf_selected_list,
.hf_layout_cell .hf_form_autocomplete .hf_list_circles
{
    padding: 10px;
    cursor: default;
}

.hf_layout_cell .hf_form_autocomplete .hf_circle
{
    display: inline;
    padding: 5px 10px;
    margin-right: 10px;
}

.hf_layout_cell .hf_form_autocomplete .hf_delete_icon
{
    font-size: 12px;
    margin-left: 10px;
}

.hf_layout_cell .hf_form_autocomplete .hf_delete_icon
{
    cursor: pointer;
    padding: 2px;
    background-color: ;
}

.hf_layout_cell .hf_form_autocomplete .hf_circle:hover .hf_delete_icon
{
    color: red;
}


.hf_layout_cell .hf_input_image
{
    background-color: #FFFFFF;
    border: 1px solid #EEEEEE;
    border-radius: 3px;
    padding: 5px;
}

.hf_layout_cell .hf_input_image img
{
    width: 100%;
}

.hf_layout_cell .hf_input_image .btn
{
    margin-top: 5px;
}

.hf_layout_cell form .content
{
    margin: 10px 0 10px 0;
}


/* -------------------------------------------------------------------- POSTS */
.hf_layout_cell .hf_post .hf_author
{
    padding: 0px 0px 10px 0px;
}

.hf_layout_cell .hf_post .hf_text
{
    padding: 0px 20px 20px 20px;
}

.hf_layout_cell .hf_post .hf_date
{
    text-align: right;
    padding: 0 20px;
    float: right;
}

/* ----------------------------------------------------------------- COMMENTS */
.hf_layout_cell .hf_comments
{
    background: #F7F7F7;
}

.hf_layout_cell .hf_comments .hf_empty
{
    padding: 15px 0;
}

.hf_layout_cell .hf_comment
{
    padding: 10px 20px;
    border-bottom: 1px solid #FFFFFF;
}

.hf_layout_cell .hf_comment .hf_date
{
    float: right;
}

.hf_layout_cell .hf_comment .hf_text
{
    padding: 5px 20px;
}

/* ------------------------------------------------------------ NOTIFICATIONS */
.hf_layout_cell .hf_notification .hf_author
{
    padding: 0px 0px 10px 0px;
}

.hf_layout_cell .hf_notification .hf_date
{
    float: right;
    display: inline-block;
}

.hf_layout_cell .hf_notification .hf_text
{
    padding: 0 20px;
}

.hf_layout_cell .hf_notification .hf_action_bar
{
    display: block;
    width: 100%;
}

.hf_layout_cell .hf_notification .hf_action_bar button
{
    display: inline-block;
}

.hf_layout_cell .hf_description
{
    display: block;
    font-size: 12px;
}

/* ------------------------------------------------------------ GROUP */
.hf_layout_cell .hf_group_public_private:after
{
    content: 'protected';
}

.hf_layout_cell .hf_group_private:after
{
    content: 'private';
}

.hf_layout_cell .hf_group_radio
{
    display:inline-block;
    width:100%;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: white;
}

.hf_layout_cell .hf_group_menu
{
    padding-top:5px;
    margin-top: 15px;
    border-top-style: solid;
    border-top-width: 1px;
}

.hf_layout_cell .hf_group_menu button
{
    margin-right: 5px;
}

