h1
{
  color: transparent;
  text-align: left;
  font-weight: bold;
  background-color: steelblue;
  text-decoration: blink;
}
h3
{
  font-family: sans-serif;

  text-align: center;
  color: white;
}
h2
{
  background-color: steelblue;
  background-size: ;
  text-align: center;
}
