
# -------------------------------------------- Mac OS X
.DS_Store

# -------------------------------------------- python
*.pyc
*.pyo

# -------------------------------------------- py.test
__pycache__

# -------------------------------------------- MongoDB
*.db

# -------------------------------------------- Firefox
*.firefox-profile
