<div class="hf_padding">
    <div class="hf_post">
        {{{hf_date this.date}}}
        <div class="hf_author">
            {{{hf_user_link author picture=true}}}
        </div>
        <div class="hf_text">
            {{{hf_linkify content}}}
        </div>
    </div>

    <div class="hf_comments">
        {{#each comments}}
            <div class="hf_comment">
                <table>
                    <tr>
                        <td rowspan="2" width="60px" valign="top">
                            {{{hf_user_link author picture="only"}}}
                        </td>
                        <td>
                            {{{hf_user_link author}}}
                        </td>
                        <td>
                            {{{hf_date this.date}}}
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2" valign="top" class="hf_text">
                            {{{hf_linkify content}}}
                        </td>
                    </tr>
                </table>
            </div>
        {{else}}
            <div class="hf_empty">
                No one has commented yet. Be the first to comment.
            </div>
        {{/each}}
    </div>
    {{#if_eq is_comment_enable true}}
    <form onsubmit="hf_control.create_comment(this);return false;" name = "comment" style="padding: 3px;">
        <textarea class="form-control" name="content"></textarea>
        <input type="hidden" name="chunk_name" value="{{__meta.chunk_name}}" />
        <input type="hidden" name="symetric_key" value="{{symetric_key}}" />
        <input type="hidden" name="chunk_key"  />
        <input
            type="submit"
            class="btn btn-default"
            style="width:200px; margin: 3px 0 0 auto; display: block;"
            name="submit"
            value="Comment"
        />
    </form>
    {{/if_eq}}
</div>
