<div class="hf_author">
    {{#hf_user_link author}}{{/hf_user_link}}
    <span class="hf_timestamp" style="float:right; margin-right:10px;">{{{hf_timestamp_post this}}}</span>
</div>
<div class="hf_post">
    {{content}}
</div>
{{#if comments.length}}
<div class="jumbotron">
    {{#each comments}}
        <div class="hf_comment">
            <div class="hf_timestamp">{{{hf_timestamp_post this}}}</div>
            {{{hf_user_link author}}}
            {{{hf_comment this}}}
        </div>
    {{/each}}
</div>
{{/if}}
<div class="hf_padding">
    <form onsubmit="hf_control.create_comment(this);return false;" name = "comment" style="padding: 3px;">
        <textarea class="form-control" name="content"></textarea>
        <input type="hidden" name="chunk_name" value="{{__meta.chunk_name}}" />
        <input type="hidden" name="symetric_key" value="{{symetric_key}}" />
        <input type="hidden" name="chunk_key"  />
        <input
            type="submit"
            class="btn btn-default"
            style="width:200px; margin: 3px 0 0 auto; display: block;"
            name="submit"
            value="Comment"
        />
    </form>
</div>
