<div class="hf_padding">
    <div class="hf_notification">
        {{{hf_date __meta.date}}}
        <div class="hf_author">
            {{{hf_user_link author picture=true}}}
        </div>
        <div class="hf_text">
            {{content}}
        </div>
        <div class="hf_action_bar" align="right">
            {{{hf_user_add_contact author}}}

            <button class="btn btn-default"
            onclick="hf_control.view('/send_message/{{author.__meta.user_hash}}');">Reply</button>

            <button class="btn btn-default"
                onclick="hf_control.delete_notification('{{__meta.hash}}');">Delete</button>
        </div>
    </div>
</div>
