<div class="hf_padding">
    <div class="hf_notification">
        {{{hf_date __meta.date}}}
        <div class="hf_author">
            {{{hf_user_link author picture=true}}}
        </div>
        <div class="hf_text">
            {{{hf_linkify content}}}
        </div>
        <div class="hf_action_bar" align="right">
            {{{hf_user_add_contact author}}}

            <button class="btn btn-default"
            onclick="return hf_control.approuve_group_user('{{author.__meta.user_hash}}'); return false;">Approuve</button>

            <button class="btn btn-default"
                onclick="return hf_control.ignore_group_user({{__meta.hash}});">Ignore</button>
        </div>
    </div>
</div>
