{{#hf_cell}}
    <div class="hf_padding">
        <div class="hf_title">Circle: {{name}}

            {{#if back}}
                <button
                    class="btn btn-default"
                    style="float:right;"
                    onclick="return hf_control.view('/circle/{{thread_chunk_name}}');"
                >
                Back
                </button>
            {{else}}
                <button
                    class="btn btn-default"
                    style="float:right;"
                    onclick="return hf_control.view('/circle/{{thread_chunk_name}}/contacts');"
                >
                Show contacts
            </button>
            {{/if}}
        </div>
    </div>
{{/hf_cell}}
