{{#hf_cell}}
    <div class="hf_padding">
        <div class="hf_title">
            Discussion: {{discussion.name}}

            {{#if peers}}
                <button
                    class="btn btn-default"
                    style="float:right;"
                    onclick="return hf_control.view('/discussion/{{discussion.hash}}');"
                >
                Back
                </button>
            {{else}}
                <button
                    class="btn btn-default"
                    style="float:right;"
                    onclick="return hf_control.view('/discussion/{{discussion.hash}}/peers');"
                >
                Show peers
                </button>
            {{/if}}
        </div>
    </div>
{{/hf_cell}}
