{{#hf_cell}}
    <div class="hf_padding">
        <div class="hf_title">
            {{#if profile.picture}}
                <img src="{{profile.picture}}" width="120px" />
            {{/if}}
            Profile: {{profile.first_name}} {{profile.last_name}}
            {{#if_eq __meta.type "/user/private_chunk"}}
                <button
                    class="btn btn-primary"
                    style="float:right;"
                    onclick="return hf_control.view('/edit_profile');"
                >
                    Edit profile
                </button>
            {{/if_eq}}
        </div>
    </div>
{{/hf_cell}}
