{{#hf_cell}}
    <div class="hf_padding">
        <div class="hf_title">Write what is on your mind... Privately.</div>
        <form
            style="padding: 3px;"
            {{#if circles}}
            onsubmit="hf_control.create_post(this);return false;"
            onkeypress="return event.keyCode != 13;"
            {{else}}
            onsubmit="hf_control.thread_post(this);return false;"
            {{/if}}
        >
            <textarea
                class="form-control"
                name="content"
                style="margin-bottom:5px;"
                onkeypress="return hf_control.enter_type(this, event)"
                onfocus="hf_ui_generic.textarea_onfocus(this);"
            ></textarea>

            {{#if circles}}
                <div class="hf_form_autocomplete" style="margin-bottom:5px;">
                    <input
                        class="form-control"
                        type="text"
                        list="circles"
                        id="hf_datalist_circles"
                        placeholder="Lists the circles in which you want to post..."
                        autocomplete="off"
                        onkeypress="return hf_control.add_thread_list(event);"
                    />
                    <datalist id="circles">
                        {{#each circles}}
                            <option value="{{name}}" name="{{thread_chunk_name}}">{{name}}</option>
                        {{/each}}
                    </datalist>

                    <div class="hf_list_circles" id="hf_list_circles">
                        {{#if current_circle_name}}
                            <span class="hf_circle form-control"><span class="hf_circle_name"> {{current_circle_name}}</span></span>
                        {{/if}}
                    </div>
                </div>
            {{/if}}

            <div style="text-align: right;">
                <input
                    style="padding: 5px 30px 5px 30px;"
                    type="submit"
                    class="btn btn-primary"
                    name="submit"
                    value="Post"
                />
            </div>
        </form>
    </div>
{{/hf_cell}}
