{{#hf_cell}}
    <div class="hf_padding">
        <div class="hf_title">Write what is in your mind... Privately.</div>
        <form onsubmit="hf_control.thread_post(this);return false;" style="padding: 3px;">
            <textarea
                class="form-control"
                name="content"
                style="margin-bottom:5px;"
            ></textarea>

            <div style="text-align: right;">
                <input
                    style="padding: 5px 30px 5px 30px;"
                    type="submit"
                    class="btn btn-primary"
                    name="submit"
                    value="Post"
                />
            </div>
        </form>
    </div>
{{/hf_cell}}
