
body
{
    background: {{theme.color.background}};
    color: {{theme.color.text}};
}


/* ---------------------------------------------------------------- Connexion */

.central_panel
{
    width: 400px;
    margin: 15% auto 0 auto;
    padding: 10px 30px;
    border-radius: 5px;
    background: {{theme.color.reversed_background}};
    color: {{theme.color.reversed_text}};
}

.central_panel .title
{
    padding: 5px 0 0 0;
    font-size: 24px;
    font-weight: bolder;
}

.central_panel .content
{
    padding: 5px 30px 15px 30px;
}


/* -------------------------------------------------------------------- Login */

.login_panel input, .login_panel button
{
    width: 100%;
}


/* -------------------------------------------------------------- Page layout */

#pageLayoutTop
{
    background: {{theme.color.reversed_background}};
    color: {{theme.color.reversed_text}};
}

#pageLayoutTop a
{
    padding: 8px 20px;
    display: inline-block;
    font-weight: bolder;
    color: {{theme.color.reversed_text}};
}

#pageLayoutTop a:hover
{
    background: #000000;
}

#pageLayoutWidth
{
    margin: 0 auto;
    width: 1000px;
}

#pageLayoutLeftColumn
{
    height: 400px;
    width: 200px;
    border-right: 1px solid {{theme.color.reversed_background}};
}

#pageLayoutBottom
{
    padding: 40px 0 200px 0;
    width: 100%;
    text-align: center;
    border-top: 1px solid {{theme.color.reversed_background}};
}
