{{#hf_cell}}
    <div class="hf_padding">
        <div class="hf_title">{{title}}</div>
        {{#each contacts}}

            <div class="hf_list_item">
                {{{hf_user_link this}}}
                <div style="float:right;">
                    {{#if ../circle_hash}}
                        {{{hf_add_contact_to_circle this ../../circle_hash}}}
                    {{else}}
                        {{{hf_user_add_contact this}}}
                    {{/if}}
                </div>
            </div>

        {{else}}
            <div class="hf_empty">You don't have any contact.</div>
        {{/each}}
    </div>
{{/hf_cell}}
