
{{#hf_cell}}
    <div class="hf_padding">
        <div class="hf_title">Add a new circle.</div>
        <form onsubmit="return false;">
            <table width="100%">
                <tr>
                    <td>
                        <input
                            type="text"
                            class="form-control"
                            placeholder="circle name..."
                            name="name"
                        />
                    </td>
                    <td>
                        <input
                            type="submit"
                            class="btn btn-default"
                            name="submit"
                            value="Add"
                        />
                    </td>
                </tr>
            </table>
        </form>
    </div>
{{/hf_cell}}

{{#hf_cell}}
    <div class="hf_padding">
        <div class="hf_title">Your circles.</div>
        {{#each circles}}
            <div class="hf_contact">
                <a  onclick="return hf_control.view('{{view_path}}');">{{name}}</a>
                <hr>
            </div>
        {{else}}
            <div class="hf_empty">Empty.</div>
        {{/each}}
    </div>
{{/hf_cell}}
