{{#hf_cell}}
    <div class="hf_padding">
        <div class="hf_title" style="width:100%">
            <span>{{title}}</span>
            {{#if_eq title "All groups"}}
                 <button class="btn btn-default btn-sm" onclick="return hf_control.view('/groups');" style="float:right; margin-right:10px;">Create group</button>
            {{/if_eq}}
        </div>
        {{#each groups}}
            {{{hf_group_link this}}}
        {{else}}
            <div class="hf_empty">There are no groups yet.</div>
        {{/each}}
    </div>
{{/hf_cell}}
