<div class="central_panel login_panel">
    <div class="title">Login to HiddenFaces</div>
    <form onsubmit="hf_control.signed_out.login(this);return false;">
        <div class="content">
            <input type="text" placeholder="email..." class="form-control" name="email" />
        </div>
        <div class="content">
            <input type="password" placeholder="password..." class="form-control" name="password" />
        </div>
        <div class="content">
            <input
                type="submit" class="btn btn-primary" name="login" value="Log In"
            />
        </div>
    </form>
    <div class="title">Not an user?</div>
    <div class="content">
        <button
            class="btn btn-primary"
            onclick="hf_control.view('/signup/');"
        >Sign Up</button>
    </div>
</div>
