 <div class="container">
    <div class="row">
        <div class="col-md-12">

            <h1 style="color:white"> <img src="http://th07.deviantart.net/fs71/PRE/i/2011/151/0/3/final_hf_logo_by_ariasimos-d3fwz9e.jpg" alt="Logo View" style="width:70px;height:50px"> HiddenFaces
            </h1>
        </div>
    </div>

    <form name="Connexion">


        <div class="row">
            <div class="col-md-3 col-md-push-2  ">
                <ul class="inline-list">
                    <li>Adresse électronique
                        <input type="text" placeholder="Enter email"class="form-control input-md" name="MailAdress"/>
                    </li>
            </div>

            <div class="col-md-3 col-md-push-3">
                    <li>Mot de passe
                        <input type="password" placeholder="Password"class="form-control input-md" name="Password"/>
                    </li>
                </ul>
            </div>
        </div>

        <div class="row">
            <div class="col-md-3 col-md-push-9">
                 <p>
                    <input type="button" class="btn btn-default" name="Connexion" value="Connexion"/>
                </p>
            </div>
            <div class="col-md-3 col-md-push-7 ">
                <p>
                    <input type="button" class="btn btn-default" name="S'inscrire" value="S'inscrire" onclick="hf_control.show_inscription_form()"/>
                </p>
            </div>
        </div>

    </form>

</div>
