<div class="central_panel login_panel">
    <div class="title">Login to HiddenFaces</div>
    <form name="login" onsubmit="return false;">
        <div class="content">
            <input type="text" placeholder="email..." class="form-control" name="email" />
        </div>
        <div class="content">
            <input type="password" placeholder="password..." class="form-control" name="password" />
        </div>
        <div class="content">
            <input
                type="submit" class="btn btn-default" name="login" value="Login..."
            />
        </div>
    </form>
    <div class="title">Not an user?</div>
    <div class="content">
        <button
            class="btn btn-default" value="Sigin..."
            onclick="hf_control.show_inscription_form()"
        >Sigin...</button>
    </div>
</div>
