<div id="hf_page_top_bar">
    <ul class="hf_layout_page_width">
        <li>
            <a onclick="return hf_control.view('/');">
                {{private_chunk.profile.first_name}} {{private_chunk.profile.last_name}}
            </a>
            <div class="hf_sublist">
                <a onclick="return hf_control.log_out();">Log Out</a>
                <a onclick="return hf_control.view('/contacts');">Contacts</a>
                <a onclick="return hf_control.view('/notifications');">Notifications</a>
                <a onclick="return hf_control.view('/send_message');">Contact invitation</a>
            </div>
        </li>
        <li><a onclick="return hf_control.view('/profile');">profile</a></li>
    </ul>
</div>

<div id="hf_page_middle">
<table class="hf_layout_page_width">
    <tr>
        <td valign="top" id="hf_page_left_column">

            <div class="hf_layout_cell">
                <div class="hf_layout_expand" id="hf_left_column_circles">
                </div>
            </div>

            <div class="hf_layout_cell">
                <div class="hf_layout_expand" id="hf_left_column_groups">
                </div>
            </div>

        </td>
        <td valign="top" id="hf_page_main_content"></td>
    </tr>
</table>
</div>

<div id="hf_page_bottom">
    HiddenFaces - all rights reserved
</div>
