<div id="hf_page_top_bar">
    <div class="hf_layout_page_width">
        <a>{{private_chunk.profile.first_name}} {{private_chunk.profile.last_name}}</a>
    </div>
</div>

<div class="hf_layout_page_width">
    <table class="hf_layout_page_width">
        <tr>
            <td valign="top" id="hf_page_left_column">

<div class="hf_layout_cell">
    <div class="hf_layout_expand">
        <span class="hf_title">Circles</span>
        <a class="hf_list_item">Familly</a>
        <a class="hf_list_item">Friends</a>
        <a class="hf_list_item">INSA</a>
    </div>
</div>
<div class="hf_layout_cell">
    <div class="hf_layout_expand">
        <span class="hf_title">Groups</span>
        <a class="hf_list_item">INSA IF Promotion 2015</a>
        <a class="hf_list_item">INSA IF</a>
    </div>
</div>

            </td>
            <td valign="top" id="hf_page_main_content">

<div class="hf_layout_cell">
    <div class="hf_layout_expand" style="height:400px;">
        hello world
    </div>
</div>
<div class="hf_layout_cell">
    <div class="hf_layout_expand" style="height:200px;">
        foo bar
    </div>
</div>

            </td>
        </tr>
    </table>
</div>

<div id="hf_page_bottom">
    HiddenFaces - all rights reserved
</div>
