{{#hf_cell}}
    <div class="hf_padding">
        <div class="hf_title">Contact invitation.</div>
        <form onsubmit="hf_control.contact_invitation(this); return false;">
            <table width="100%">
                <tr>
                    <td>
                        <input
                            ID="destination_name"
                            type="text"
                            class="form-control"
                            placeholder="Destination..."
                            name="destination"
                            value="{{user_hash}}"
                            >
                    </td>
                <tr>
                    <td>
                        <textarea
                            ID="text_message"
                            type="text"
                            class="form-control"
                            name="message"
                            placeholder="Enter your message..."></textarea>
                    </td>
                </tr>
                <tr>
                    <td>
                        <input
                            type="submit"
                            class="btn btn-default"
                            name="send_message"
                            value="Send"
                        />
                    </td>
                </tr>
            </table>
        </form>
    </div>
{{/hf_cell}}