<div class="central_panel login_panel">
    <div class="title">Sign Up</div>
    <form onsubmit="hf_control.signed_out.sign_up(this);return false;">
        <div class="content">
            <input type="text" placeholder="first name..." class="form-control" name="first_name" />
        </div>
        <div class="content">
            <input type="text" placeholder="last name..." class="form-control" name="last_name" />
        </div>
        <div class="content">
            <input type="text" placeholder="email..." class="form-control" name="email" />
        </div>
        <div class="content">
            <input type="password" placeholder="password..." class="form-control" name="password" />
        </div>
        <div class="content">
            <input type="password" placeholder="confirm password..." class="form-control" name="confirm_password" />
        </div>
        <div class="content">
            <input
                type="submit" class="btn btn-primary" name="login" value="Sign Up"
            />
        </div>
    </form>
    <div class="content">
        <button
            class="btn btn-primary"
            onclick="hf_control.view('/');"
        >Back to login</button>
    </div>
</div>
